body{
    background-color: rgb(17, 17, 16);
    h1{
        color:rgb(250, 250, 250);
        text-align: center;
    }
    ol{
        color: darkorange;
       
    }
    li{
       
    }
    h2{
        color: gray;
        text-align: center;
    }
}