<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>My first page in web pack </h1>
    <h2>steps to start development in webpack 2</h2>

    <ol>
      <li>first install npm, node and webpack</li>
      <li>after installing webpack you will see package.json file in project </li>
      <li>install html-webpack-plugins to generate html template  automatically  </li>
      <li>for styling install css and sass loaders</li>
      <li>install extract-text-webpack-plugin, It moves all the required *.css modules in entry chunks into a separate CSS file.
        <br> So your styles are no longer inlined into the JS bundle, but in a separate CSS file (styles.css).</li>
        <li>configure webpack dev server for live change  </li>
        
    </ol>
    </body>
</html>